.stepnumber {
    text-transform: uppercase;
    border: 5px solid #4a82db;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.vl {
    border-left: 6px solid #4a82db;
    height: 25px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.stepdetails{
    border: 5px solid #4a82db;
    height: 100px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.switcher{
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-content: center;
    width: 335px;
}

.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link{
    border: none;
}